<h1><center>Jupyter Notebook Blank Template</center></h1>

### Author: Mikias HWT
#### Date:

# Prep Workplace

In [2]:
import numpy as np
import pandas as pd

# To show multiple lines in output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
######################## Git/venv/Python Good practices: ########################
# Save package requirements as txt file using pip freeze. 
# Exclude .venv from git repo (i will choose to include it in .gitignore for now)
# Include session_info.show() at end of scripts

# pip freeze > requirements.txt (to save)
# pip install -r requirements.txt (to install)
# pip install session_info

# Data Types

## Primitive data-types
Int, Float, Bool, String

### Integer

In [2]:
# Integer
type(-12)

float

### Double

In [ ]:
# Double
type(12.5)

### Complex

In [3]:
# Complex
type(3j)

complex

### Boolean

In [175]:
# Boolean
type(False)
type(True)
type("False")
type("True")

bool

bool

str

str

### String

In [137]:
String1='First String' # Single quotes
String2="Second String" # Double quotes

In [110]:
# Strings
type(String1) 
type(String2)

str

In [116]:
# Repeat
String1*2

'First StringFirst String'

In [117]:
# Index
String1[0]

'F'

In [121]:
# Slice
String1[:3]

'First'

In [122]:
# Range Slice
String1[0:5]

'First'

In [112]:
# Concatenate
String1 + " & " + String2

'First String & Second String'

In [124]:
# Slice and concatenate
String1[0:5] + " & " + String2[0:6]

'First & Second'

In [125]:
# Proper capitalization
str.capitalize('string')

'String'

In [126]:
# Length
len(String1)

12

In [128]:
# Determine if digits
String1.isdigit()

False

In [138]:
String3="12345"
String3.isdigit()

True

In [157]:
# Strings are immutable, but new string can be made from combinations
String4= String1.replace('First', String3)
String1
String3
String4

'First String'

'12345'

'12345 String'

In [159]:
# to search for a substring within a string and return the index of the first occurrence of the substring. 
# If the substring is not found, it returns -1.
String1.find(String3)

-1

In [162]:
# Value of String3 is found starting at index [0] of String 4
String4.find(String3)

0

'1'

In [163]:
# Value of String 5 is found starting at index [6] of String 4
String5="String"
String4.find(String5)

6

In [166]:
# Data type conversion
x = 2
y = "Part "
combo = (y) + (x)
combo

TypeError: can only concatenate str (not "int") to str

In [167]:
# Data type conversion
x = 2
y = "Part "
combo = (y) + str(x)
combo

'Part 2'

In [15]:
# Tripple quotes
multiline="""
Multiline text
between tripple quotes 
is also
an acceptable 
string type
"""

In [25]:
multiline

'\nMultiline text\nbetween tripple quotes \nis also\nan acceptable \nstring type\n'

In [16]:
type(multiline)

str

## Non-Primitive
List, Array, Tuple, Set, Dictionary, Stacks, Queue, Graphs, Trees, Files

### Lists

In [27]:
# Lists
num_list=[1,2,3]

In [30]:
type(num_list)

list

In [29]:
char_list=["First Name", "Middle Name", "Last Name"]

In [33]:
type(char_list)

list

In [36]:
mix_list=["First", 10, 3j, ["Internal", "List"], "Last", 20, ]

In [32]:
type(mix_list)

list

In [37]:
# Lists can be indexed (and nested)
mix_list[3]

['Internal', 'List']

In [38]:
# Lists can be appended
mix_list.append("New Addition")

In [39]:
mix_list

['First', 10, 3j, ['Internal', 'List'], 'Last', 20, 'New Addition']

In [44]:
# Lists can be edited
mix_list[5]=200000

In [45]:
mix_list

['First', 11, 3j, ['Internal', 'List'], 'Last', 200000, 'New Addition']

### Array
-Not used often
-Similar to lists, with some differences. 
-Require specific module (import array as arr)

- common type codes used with array:

    'b': Signed char (1 byte)
    'B': Unsigned char (1 byte)
    'u': Unicode character (2 or 4 bytes, depending on the platform)
    'h': Signed short (2 bytes)
    'H': Unsigned short (2 bytes)
    'i': Signed int (2 or 4 bytes)
    'I': Unsigned int (2 or 4 bytes)
    'l': Signed long (4 bytes)
    'L': Unsigned long (4 bytes)
    'f': Float (4 bytes)
    'd': Double (8 bytes)

In [176]:
import array as arr

# datatype inside array [] requires specification with a code. 
a = arr.array("I",[3,6,9])
type(a)

array.array

In [194]:
# Define the array of Unicode characters
array_char = arr.array("u", ["c", "a", "t", "s"])

array_char

# index
array_char[1]

array('u', 'cats')

'a'

In [193]:
# Use tounicode() method to convert to a string
array_string = array_char.tounicode()

# Print the array as a string
print(array_string)  # Output: 'cats'

cats

### Tuples

In [47]:
# Tuples
tpl =(1,2,3,3,4,5,5)

In [48]:
type(tpl)

tuple

In [51]:
# Tuple can be indexed
tpl[2]

3

In [52]:
# Tuples cannot be modified
tpl[2]=12

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Tuples cannot be appended

In [53]:
tpl.append("12")

AttributeError: 'tuple' object has no attribute 'append'

### Sets

In [65]:
# Sets
set={44,1,3,3,2,44}

In [55]:
type(set)

set

In [66]:
# Sets dont output duplicate elements
set

{1, 2, 3, 44}

In [59]:
# Sets cannot be indexed
set[3]

TypeError: 'set' object does not support item assignment

In [61]:
# Sets cannot be modified 
set[3]=126

TypeError: 'set' object does not support item assignment

In [60]:
# Sets cannot be appended
set.append(5)

AttributeError: 'set' object has no attribute 'append'

In [72]:
# Use case: sets
set1={1,25,4,57,6,7,7,83,22}
set2={7,6,1,65,78,23,84,22}

In [68]:
# UNION: all unique elements from both sets
set1 | set2

{1, 4, 6, 7, 22, 23, 25, 57, 65, 78, 83, 84}

In [69]:
# INTERSECTION: only the elements that are common to both sets
set1 & set2

{1, 6, 7, 22}

In [71]:
# DIFFERENCE: the elements that are in set1 but not in set2
set1 -  set2

{4, 25, 57, 83}

In [70]:
# SYMMETRIC DIFFERENCE: elements that are in either set1 or set2 but not in both
set1 ^ set2

{4, 23, 25, 57, 65, 78, 83, 84}

In [75]:
# SUBSET: Checks if all elements of one set are contained in another set. (includes the possibility that they are the same sets)
set1 <= set2
set1.issubset(set2)

False

In [ ]:
# PROPER SUBSET: Checks if one set is a strict subset of another (but the sets are not equal).
set1 < set2  # True if set1 is a proper subset of set2.

In [76]:
# SUPERSET: Checks if one set contains all elements of another set. (includes the possibility that they are the same sets)
set1 >= set2
set1.issuperset(set2)

False

In [ ]:
# PROPER SUPERSET: Checks if one set is a strict superset of another (but the sets are not equal).
set1 > set2  # True if set1 is a proper superset of set2.

In [77]:
# DISJOING SET: Checks if two sets have no elements in common
set1.isdisjoint(set2) # Returns True if set1 and set2 have no elements in common.

False

### Dictionary

In [94]:
# Dictionary : require key-value pair
dict={"First Name":"Mikias", "Username":"MikiasHWT", "Birthplace":"Eritrea", "Favorite Food":["Tsebhi", "Shiro", "Qulwa", "Pizza"]}

In [95]:
dict

{'First Name': 'Mikias',
 'Username': 'MikiasHWT',
 'Birthplace': 'Eritrea',
 'Favorite Food': ['Tsebhi', 'Shiro', 'Qulwa', 'Pizza']}

In [79]:
type(dict)

dict

In [87]:
# Dictionary keys can be called
dict.keys()

dict_keys(['First Name', 'Username', 'Birthplace'])

In [83]:
# Dictionary values can be called
dict.values()

dict_values(['Mikias', 'MikiasHWT', 'Eritrea'])

In [90]:
# Dictionary items (combination of key,value) can be called
dict.items()

dict_items([('First Name', 'Mikias'), ('Username', 'MikiasHWT'), ('Birthplace', 'Eritrea')])

In [88]:
# Values can be indexed by specifying key
dict["First Name"]

'Mikias'

In [99]:
# Specific values can be modified
dict["Birthplace"] = "Asmara, Eritrea"

In [100]:
dict

{'First Name': 'Mikias',
 'Username': 'MikiasHWT',
 'Birthplace': 'Asmara, Eritrea',
 'Favorite Food': ['Tsebhi', 'Shiro', 'Qulwa', 'Pizza']}

In [103]:
# Dict can be further modified and appended (without deleting existing key:values)
dict.update({'First Name': 'Mikias',
 'Birthplace': 'Asmara, Eritrea aka: The Motherland',
 'Favorite Food': ['Tsebhi', 'Shiro', 'Qulwa', 'Pizza'], 
 "Weight Gained":"Non-Negligable"})

In [104]:
dict

{'First Name': 'Mikias',
 'Username': 'MikiasHWT',
 'Birthplace': 'Asmara, Eritrea aka: The Motherland',
 'Favorite Food': ['Tsebhi', 'Shiro', 'Qulwa', 'Pizza'],
 'Weight Gained': 'Non-Negligable'}

In [105]:
# Key:Value pairs can also be deleted
del dict["Weight Gained"]

In [106]:
dict

{'First Name': 'Mikias',
 'Username': 'MikiasHWT',
 'Birthplace': 'Asmara, Eritrea aka: The Motherland',
 'Favorite Food': ['Tsebhi', 'Shiro', 'Qulwa', 'Pizza']}

### Stacks : TBL

### Queue : TBL

### Graphs : TBL

### Trees : TBL

### File : TBL

# Comparisons

## Logical Operators

In [203]:
# Equal
2 == 2 # True
2 == 3 # False

"Apples" == "Oranges" # False
"Apples" == "Apples" # True

True

False

False

True

In [216]:
# Double Negatives
not(2 == 2) # False
not(2 == 3) # True

not("Apples" == "Oranges") # True
not("Apples" == "Apples") # False

False

True

True

False

In [206]:
# AND logic
(2 == 2) and (2 == 3) # False
("Apples" == "Apples") and ("Oranges" == "Oranges") # True

False

True

In [208]:
# OR logic
(2 == 2) or (2 == 3) # True
(2 == 4) or (2 == 3) # False
("Apples" == "Apples") or ("Oranges" == "Oranges") # True

True

False

True

In [204]:
# Not Equal
2 != 2 # False
2 != 3 # True

"Apples" != "Oranges" # True
"Apples" != "Apples" # False

False

True

True

False

In [213]:
# Greater than 
2 > 3 # False
3 > 2 # True

"AAAA" > "BBB" # False (alphabet comparison)
len("AAAA") > len("BBB") # True

"C" > "BBB" # True 
len("C") > len("BBB") # False

False

True

False

True

True

False

In [201]:
# Greater than or equal to
2 >= 3 # False
3 >= 3 # True
4 >= 3 # True

False

True

True

In [200]:
# Less than 
2 < 3 # True
3 < 2 # False

True

False

In [214]:
# Less than or equal to
2 <= 3 # True
3 <= 3 # True
4 <= 3 # False

True

True

False

## Membership Operators

In [227]:
# In
Sentence="Apples are not the same as oranges."

"Apples" in Sentence # True
"." in Sentence # True
"apples" in Sentence # False (Case sensitive)
"Pears" in Sentence # False
"!" in Sentence # False

True

True

False

False

False

In [230]:
Numbers=[1,3,4,7,8]

1 in Numbers # True
2 in Numbers # False

True

False

In [229]:
# Not In
Sentence="Apples are not the same as oranges."

"Apples" not in Sentence # False
"." not in Sentence # True
"apples" not in Sentence # True (Case sensitive)
"Pears" not in Sentence # True
"!" not in Sentence # False

False

False

True

True

True

In [232]:
Numbers=[1,3,4,7,8]

1 not in Numbers # False
2 not in Numbers # True

False

True

# If Else

# For Loops

# While Loops

# Functions

# End

In [3]:
!pip freeze > requirements.txt

In [5]:
import session_info
session_info.show()