In [9]:
from IPython.display import display, HTML
from datetime import datetime

# Notebook title
Notebook_title = "Back to Basics"

# Current date
current_date = datetime.now().strftime("%B %d, %Y")

# Create the HTML string with title, date, and author
html_content = f"""
<h1 style="text-align:center;">{Notebook_title}: Python</h1>
<br/>
<h3 style="text-align:left;">MikiasHWT</h3>
<h3 style="text-align:left;">{current_date}</h3>
"""

# Display the HTML content in the output
display(HTML(html_content))

# Prep Workplace

In [10]:
import numpy as np
import pandas as pd

# To show multiple lines in output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [11]:
######################## Git/venv/Python Good practices: ########################
# Save package requirements as txt file using pip freeze. 
# Exclude .venv from git repo (i will choose to include it in .gitignore for now)
# Include session_info.show() at end of scripts

# pip freeze > requirements.txt (to save)
# pip install -r requirements.txt (to install)
# pip install session_info

# Data Types

## Primitive data-types
Int, Float, Bool, String

### Integer

In [12]:
# Integer
type(-12)

int

### Double

In [13]:
# Double
type(12.5)

float

### Complex

In [14]:
# Complex
type(3j)

complex

### Boolean

In [15]:
# Boolean
type(False)
type(True)
type("False")
type("True")

bool

bool

str

str

### String

In [16]:
String1='First String' # Single quotes
String2="Second String" # Double quotes

In [17]:
# Strings
type(String1) 
type(String2)

str

str

In [18]:
# Repeat
String1*2

'First StringFirst String'

In [19]:
# Index
String1[0]

'F'

In [20]:
# Slice
String1[:3]

'Fir'

In [21]:
# Range Slice
String1[0:5]

'First'

In [22]:
# Concatenate
String1 + " & " + String2

'First String & Second String'

In [23]:
# Slice and concatenate
String1[0:5] + " & " + String2[0:6]

'First & Second'

In [24]:
# Proper capitalization
str.capitalize('string')

'String'

In [25]:
# Length
len(String1)

12

In [26]:
# Determine if digits
String1.isdigit()

False

In [27]:
String3="12345"
String3.isdigit()

True

In [28]:
# Strings are immutable, but new string can be made from combinations
String4= String1.replace('First', String3)
String1
String3
String4

'First String'

'12345'

'12345 String'

In [29]:
# to search for a substring within a string and return the index of the first occurrence of the substring. 
# If the substring is not found, it returns -1.
String1.find(String3)

-1

In [30]:
# Value of String3 is found starting at index [0] of String 4
String4.find(String3)

0

In [31]:
# Value of String 5 is found starting at index [6] of String 4
String5="String"
String4.find(String5)

6

In [32]:
# Data type conversion 

# TypeError: can only concatenate str (not "int") to str

# x = 2
# y = "Part "
# combo = (y) + (x)
# combo

In [33]:
# Data type conversion
x = 2
y = "Part "
combo = (y) + str(x)
combo

'Part 2'

In [34]:
# Tripple quotes
multiline="""
Multiline text
between tripple quotes 
is also
an acceptable 
string type
"""

In [35]:
multiline

'\nMultiline text\nbetween tripple quotes \nis also\nan acceptable \nstring type\n'

In [36]:
type(multiline)

str

## Non-Primitive
List, Array, Tuple, Set, Dictionary, Stacks, Queue, Graphs, Trees, Files

### Lists
- An ordered, mutable collection of items, 
  - e.g., [1, 2, 3, "apple"]

In [37]:
# Lists
num_list=[1,2,3]

In [38]:
type(num_list)

list

In [39]:
char_list=["First Name", "Middle Name", "Last Name"]

In [40]:
type(char_list)

list

In [41]:
mix_list=["First", 10, 3j, ["Internal", "List"], "Last", 20, ]

In [42]:
type(mix_list)

list

In [43]:
# Lists can be indexed (and nested)
mix_list[3]

['Internal', 'List']

In [44]:
# Lists can be appended
mix_list.append("New Addition")

In [45]:
mix_list

['First', 10, 3j, ['Internal', 'List'], 'Last', 20, 'New Addition']

In [46]:
# Lists can be edited
mix_list[5]=200000

In [47]:
mix_list

['First', 10, 3j, ['Internal', 'List'], 'Last', 200000, 'New Addition']

### Array
-Not used often
-Similar to lists, with some differences. 
-Require specific module (import array as arr)

- common type codes used with array:

    - 'b': Signed char (1 byte)
    - 'B': Unsigned char (1 byte)
    - 'u': Unicode character (2 or 4 bytes, depending on the platform)
    - 'h': Signed short (2 bytes)
    - 'H': Unsigned short (2 bytes)
    - 'i': Signed int (2 or 4 bytes)
    - 'I': Unsigned int (2 or 4 bytes)
    - 'l': Signed long (4 bytes)
    - 'L': Unsigned long (4 bytes)
    - 'f': Float (4 bytes)
    - 'd': Double (8 bytes)

In [48]:
import array as arr

# datatype inside array [] requires specification with a code. 
a = arr.array("I",[3,6,9])
type(a)

array.array

In [49]:
# Define the array of Unicode characters
array_char = arr.array("u", ["c", "a", "t", "s"])

array_char

# index
array_char[1]

array('u', 'cats')

'a'

In [50]:
# Use tounicode() method to convert to a string
array_string = array_char.tounicode()

# Print the array as a string
print(array_string)  # Output: 'cats'

cats

### Tuples
- An ordered, immutable collection of items, 
  - e.g., (1, 2, 3, "apple")

In [51]:
# Tuples
tpl =(1,2,3,3,4,5,5)

In [52]:
type(tpl)

tuple

In [53]:
# Tuple can be indexed
tpl[2]

3

In [54]:
# Tuples cannot be modified

# TypeError: 'tuple' object does not support item assignment

# tpl[2]=12

In [55]:
# Tuples cannot be appended

# AttributeError: 'tuple' object has no attribute 'append'

# tpl.append("12")

### Sets
- An unordered, mutable collection of unique items, 
  - e.g., {1, 2, 3}

In [56]:
# Sets
a_set={44,1,3,3,2,44}

In [57]:
type(a_set)

set

In [58]:
# Sets dont output duplicate elements
a_set

{1, 2, 3, 44}

In [59]:
# Sets cannot be indexed

# TypeError: 'set' object is not subscriptable

# a_set[3]

In [60]:
# Sets cannot be modified 

# TypeError: 'set' object does not support item assignment

# a_set[3]=126

In [61]:
# Sets cannot be appended

# AttributeError: 'set' object has no attribute 'append'

# a_set.append(5)

In [62]:
# Use case: sets
set1={1,25,4,57,6,7,7,83,22}
set2={7,6,1,65,78,23,84,22}

In [63]:
# UNION: all unique elements from both sets
set1 | set2

{1, 4, 6, 7, 22, 23, 25, 57, 65, 78, 83, 84}

In [64]:
# INTERSECTION: only the elements that are common to both sets
set1 & set2

{1, 6, 7, 22}

In [65]:
# DIFFERENCE: the elements that are in set1 but not in set2
set1 -  set2

{4, 25, 57, 83}

In [66]:
# SYMMETRIC DIFFERENCE: elements that are in either set1 or set2 but not in both
set1 ^ set2

{4, 23, 25, 57, 65, 78, 83, 84}

In [67]:
# SUBSET: Checks if all elements of one set are contained in another set. (includes the possibility that they are the same sets)
set1 <= set2
set1.issubset(set2)

False

False

In [68]:
# PROPER SUBSET: Checks if one set is a strict subset of another (but the sets are not equal).
set1 < set2  # True if set1 is a proper subset of set2.

False

In [69]:
# SUPERSET: Checks if one set contains all elements of another set. (includes the possibility that they are the same sets)
set1 >= set2
set1.issuperset(set2)

False

False

In [70]:
# PROPER SUPERSET: Checks if one set is a strict superset of another (but the sets are not equal).
set1 > set2  # True if set1 is a proper superset of set2.

False

In [71]:
# DISJOING SET: Checks if two sets have no elements in common
set1.isdisjoint(set2) # Returns True if set1 and set2 have no elements in common.

False

### Dictionary
- A collection of key-value pairs, 
  - e.g., {"name": "Alice", "age": 25}.

In [72]:
# Dictionary : require key-value pair
dict={"First Name":"Mikias", "Username":"MikiasHWT", "Birthplace":"Eritrea", "Favorite Food":["Tsebhi", "Shiro", "Qulwa", "Pizza"]}

In [73]:
dict

{'First Name': 'Mikias',
 'Username': 'MikiasHWT',
 'Birthplace': 'Eritrea',
 'Favorite Food': ['Tsebhi', 'Shiro', 'Qulwa', 'Pizza']}

In [74]:
type(dict)

dict

In [75]:
# Dictionary keys can be called
dict.keys()

dict_keys(['First Name', 'Username', 'Birthplace', 'Favorite Food'])

In [76]:
# Dictionary values can be called
dict.values()

dict_values(['Mikias', 'MikiasHWT', 'Eritrea', ['Tsebhi', 'Shiro', 'Qulwa', 'Pizza']])

In [77]:
# Dictionary items (combination of key,value) can be called
dict.items()

dict_items([('First Name', 'Mikias'), ('Username', 'MikiasHWT'), ('Birthplace', 'Eritrea'), ('Favorite Food', ['Tsebhi', 'Shiro', 'Qulwa', 'Pizza'])])

In [78]:
# Values can be indexed by specifying key
dict["First Name"]

'Mikias'

In [79]:
# Specific values can be modified
dict["Birthplace"] = "Asmara, Eritrea"

In [80]:
dict

{'First Name': 'Mikias',
 'Username': 'MikiasHWT',
 'Birthplace': 'Asmara, Eritrea',
 'Favorite Food': ['Tsebhi', 'Shiro', 'Qulwa', 'Pizza']}

In [81]:
# Dict can be further modified and appended (without deleting existing key:values)
dict.update({'First Name': 'Mikias',
 'Birthplace': 'Asmara, Eritrea aka: The Motherland',
 'Favorite Food': ['Tsebhi', 'Shiro', 'Qulwa', 'Pizza'], 
 "Weight Gained":"Non-Negligable"})

In [82]:
dict

{'First Name': 'Mikias',
 'Username': 'MikiasHWT',
 'Birthplace': 'Asmara, Eritrea aka: The Motherland',
 'Favorite Food': ['Tsebhi', 'Shiro', 'Qulwa', 'Pizza'],
 'Weight Gained': 'Non-Negligable'}

In [83]:
# Key:Value pairs can also be deleted
del dict["Weight Gained"]

In [84]:
dict

{'First Name': 'Mikias',
 'Username': 'MikiasHWT',
 'Birthplace': 'Asmara, Eritrea aka: The Motherland',
 'Favorite Food': ['Tsebhi', 'Shiro', 'Qulwa', 'Pizza']}

### Stacks : TBL
- a linear data structure that follows the LIFO (Last In, First Out) principle.
- Elements are added and removed from the top of the stack.
Common operations include:
    - Push: Adding an element to the top.
    - Pop: Removing the top element.
    - Peek: Viewing the top element without removing it.
- Example: Managing browser history or undo operations in text editors.
- stacks can be implemented using lists or the collections.deque module.

### Queue : TBL
- a linear data structure that follows the FIFO (First In, First Out) principle.
- Elements are added at the rear and removed from the front.
Common operations include:
    - Enqueue: Adding an element to the rear.
    - Dequeue: Removing an element from the front.
- Example: Handling tasks in a printer queue or CPU scheduling.
- queues can be implemented using lists, collections.deque, or the queue module

### Graphs : TBL
- a non-linear data structure consisting of nodes (vertices) and edges (connections between nodes).
- Graphs can be:
    - Directed: Edges have a direction (one-way).
    - Undirected: Edges have no direction (two-way).
    - Weighted: Edges have weights (costs) associated with them.
- Graphs are used to model relationships and are widely used in networking, social media, and pathfinding algorithms (e.g., shortest path problems)
- graphs can be implemented using dictionaries or external libraries like NetworkX.

### Trees : TBL
- a hierarchical data structure made of nodes
    - The top node is called the root.
    - Each node has children and one parent (except the root).
    - Nodes with no children are called leaves.
- Special types of trees include:
    - Binary Trees: Each node has at most two children (left and right).
    - Binary Search Trees (BST): A binary tree where the left child is smaller and the right child is larger than the parent.
    - AVL Trees and Red-Black Trees: Self-balancing binary search trees.
- Trees are used in many applications like parsing expressions, file systems, and databases.
- trees can be implemented using classes or using libraries like anytree

### File : TBL
- used for persistent data storage.
- A file contains data (text or binary) and is stored on a storage device.
- Common file operations include:
        - Read: Extracting data from a file.
        - Write: Writing data to a file.
        - Append: Adding data to the end of an existing file.
    Example: Reading or writing to a .txt, .csv, or .json file.
- file handling is done through built-in functions like open(), and more advanced file handling is possible with libraries like pandas for structured data

# Comparisons

## Logical Operators

In [85]:
# Equal
2 == 2 # True
2 == 3 # False

"Apples" == "Oranges" # False
"Apples" == "Apples" # True

True

False

False

True

In [86]:
# Double Negatives
not(2 == 2) # False
not(2 == 3) # True

not("Apples" == "Oranges") # True
not("Apples" == "Apples") # False

False

True

True

False

In [87]:
# AND logic
(2 == 2) and (2 == 3) # False
("Apples" == "Apples") and ("Oranges" == "Oranges") # True

False

True

In [88]:
# OR logic
(2 == 2) or (2 == 3) # True
(2 == 4) or (2 == 3) # False
("Apples" == "Apples") or ("Oranges" == "Oranges") # True

True

False

True

In [89]:
# Not Equal
2 != 2 # False
2 != 3 # True

"Apples" != "Oranges" # True
"Apples" != "Apples" # False

False

True

True

False

In [90]:
# Greater than 
2 > 3 # False
3 > 2 # True

"AAAA" > "BBB" # False (alphabet comparison)
len("AAAA") > len("BBB") # True

"C" > "BBB" # True 
len("C") > len("BBB") # False

False

True

False

True

True

False

In [91]:
# Greater than or equal to
2 >= 3 # False
3 >= 3 # True
4 >= 3 # True

False

True

True

In [92]:
# Less than 
2 < 3 # True
3 < 2 # False

True

False

In [93]:
# Less than or equal to
2 <= 3 # True
3 <= 3 # True
4 <= 3 # False

True

True

False

## Membership Operators

In [94]:
# In
Sentence="Apples are not the same as oranges."

"Apples" in Sentence # True
"." in Sentence # True
"apples" in Sentence # False (Case sensitive)
"Pears" in Sentence # False
"!" in Sentence # False

True

True

False

False

False

In [95]:
Numbers=[1,3,4,7,8]

1 in Numbers # True
2 in Numbers # False

True

False

In [96]:
# Not In
Sentence="Apples are not the same as oranges."

"Apples" not in Sentence # False
"." not in Sentence # True
"apples" not in Sentence # True (Case sensitive)
"Pears" not in Sentence # True
"!" not in Sentence # False

False

False

True

True

True

In [97]:
Numbers=[1,3,4,7,8]

1 not in Numbers # False
2 not in Numbers # True

False

True

# If Else
- conditional statements used for decision-making

![IF -> ELIF -> Else](img\python-if-elif-else.png)

In [98]:
if 20 > 10:
    print("20 is greater than 10")
else:
    print("Hmm...maybe its not")

20 is greater than 10

In [99]:
# Checking mutliple conditions. 
if (20 < 10) or (10 > 20):
    print("20 is less than 10")
else:
    print("BOOM, I knew it! 20 IS bigger than 10.")

BOOM, I knew it! 20 IS bigger than 10.

In [100]:
# Writing it in one line
print("It worked") if 10>20 else print("10 is not bigger than 20")

10 is not bigger than 20

In [101]:
# Nested statements
if (20 > 10) and (10 < 20):
    print("20 is greater than 10")
    if (20 > 9):
        print("Another victory for 20, which is greater than 9")
else:
    print("Hmm 20 taking some L's")

20 is greater than 10
Another victory for 20, which is greater than 9

# For Loops
- used to iterate over a sequence (such as a list, tuple, string, or range) and execute a block of code multiple times.

![For Loop](img\python-for-loop.png)

In [102]:
# Iterate over list
a_list=[1, 2, 3, 4, "apple", 3j]

for items in a_list:
    print(items)

1
2
3
4
apple
3j

In [103]:
# List items arent essential
for items in a_list:
    print("items")

items
items
items
items
items
items

In [104]:
# Their use can even get wierd
for items in a_list:
    print(items + items)

2
4
6
8
appleapple
6j

In [105]:
# Iterate over dictionary
hobbies={"sports":"soccer", "self-care":"Comedy", "educational":["Design", "Reading", "Coding"]}

# Call values
for things in hobbies.values():
    print(things)

soccer
Comedy
['Design', 'Reading', 'Coding']

In [106]:
# Call keys
for things in hobbies.keys():
    print(things)

sports
self-care
educational

In [107]:
# Call Key:Value pairs (must define them)
for category, hobby in hobbies.items():
    print(category, "->", hobby)

sports -> soccer
self-care -> Comedy
educational -> ['Design', 'Reading', 'Coding']

In [108]:
# Call Key:Value pairs (must define them, in order of Key:Value)
for Random, aaaaaaaa in hobbies.items():
    print(aaaaaaaa, "-%&%-", Random)

soccer -%&%- sports
Comedy -%&%- self-care
['Design', 'Reading', 'Coding'] -%&%- educational

In [109]:
# Nester for loops
Adjective=["blue", "small", "foreign"]
Noun=["shirt", "table", "pen"]
Verb=["smells", "eats", "walks"]

for adjs in Adjective:
    for nns in Noun:
        for vrbs in Verb:
            print("The", adjs, nns, vrbs, "and we love it.")

The blue shirt smells and we love it.
The blue shirt eats and we love it.
The blue shirt walks and we love it.
The blue table smells and we love it.
The blue table eats and we love it.
The blue table walks and we love it.
The blue pen smells and we love it.
The blue pen eats and we love it.
The blue pen walks and we love it.
The small shirt smells and we love it.
The small shirt eats and we love it.
The small shirt walks and we love it.
The small table smells and we love it.
The small table eats and we love it.
The small table walks and we love it.
The small pen smells and we love it.
The small pen eats and we love it.
The small pen walks and we love it.
The foreign shirt smells and we love it.
The foreign shirt eats and we love it.
The foreign shirt walks and we love it.
The foreign table smells and we love it.
The foreign table eats and we love it.
The foreign table walks and we love it.
The foreign pen smells and we love it.
The foreign pen eats and we love it.
The foreign pen walks and we love it.

In [110]:
# The rules...need further consideration. 
Adjective=["blue", "small", "foreign"]
Noun=["shirt", "table", "pen"]
Verb=["smells", "eats", "walks"]

for nns in Noun:
    for nns in Noun:
        for vrbs in Verb:
            for adjs in Adjective:
                for adjs in Adjective:
                    print("The", nns, vrbs,"and we are confused.")

The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt smells and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt eats and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The shirt walks and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table smells and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table eats and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The table walks and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen smells and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen eats and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.
The pen walks and we are confused.

# While Loops
- repeatedly executes a block of code as long as a specified condition remains True

![While Loop](img\python-while-loop.png)

In [111]:
# Continues until the condition is not true
num=1

while num <= 10:
    print(num)
    num = num + 1

1
2
3
4
5
6
7
8
9
10

In [112]:
# Else statement
num=1

while num <= 10:
    print(num)
    if num == 11:
        break
    num = num + 1
else:
    print("Eleve... \nOops, were we supposed to stop at 10?")

1
2
3
4
5
6
7
8
9
10
Eleve...
Oops, were we supposed to stop at 10?

In [113]:
# Continue statement ("continue" returns loop back to "while" when its condition is met. 
########### Creating an infinite loop)

# num=1

# while num <= 10:
#     print(num)
#     if num == 9:
#         continue
#     num = num + 1
# else:
#     print("This wont print with an infinite loop")

In [114]:
# Continue statement without infinite loop

num=1

while num <= 10:
    num = num + 1
    if num == 9:
        continue
    print(num)
else:
    print("We skipped #9 but included #11. \nBecause'continue' returns the loop to the 'while' conditional \nthereby subverting #9 output \nand enforcing #11 output")

2
3
4
5
6
7
8
10
11
We skipped #9 but included #11.
Because'continue' returns the loop to the 'while' conditional
thereby subverting #9 output
and enforcing #11 output

# Functions
- a block of reusable code that performs a specific task
-  Functions can accept inputs called arguments or parameters, which allow you to pass values into the function.

In [115]:
# writing a useless function
def useless():
    print("We did it!")

# calling said useless function
useless()

We did it!

In [116]:
# Function definition with name arguments
def greet(name):
    return f"Hello, {name}!"

# Function call
print(greet("Mikias"))

Hello, Mikias!

In [117]:
# Squaring a number
def num_squared(num):
    print(num**2)

# Call it
num_squared(1)
num_squared(2)
num_squared(3)
num_squared(4)
num_squared(5)

1
4
9
16
25

In [118]:
# Multiple arguments
def num_raised_to(num, power):
    print(num**power)

# Call it
num_raised_to(2,0)
num_raised_to(2,1)
num_raised_to(2,2)
num_raised_to(2,3)

1
2
4
8

In [119]:
# keyword arguments for increased flexibility in calling arguments. 
def num_raised_to(num, power):
    print(num**power)

# Call it by specifying arguments. 
num_raised_to(power=0, num=2)
num_raised_to(num=2, power=1)
num_raised_to(power=2, num=2)
num_raised_to(num=2, power=3)

1
2
4
8

In [120]:
# Arbitrary number of arguments
def sum_numbers(*nums):
    total = sum(nums)  
    print(f"Sum of {nums} = {total}")

# Call the function with different numbers of arguments
sum_numbers(1, 2, 3)
sum_numbers(5, 10, 15, 20, 25)
sum_numbers(100, 200)

Sum of (1, 2, 3) = 6
Sum of (5, 10, 15, 20, 25) = 75
Sum of (100, 200) = 300

In [121]:
# To pass a list or tuple, they must be unpacked with '*'
def sum_numbers(*nums):
    total = sum(nums)  
    print(f"Sum of {nums} = {total}")

# Upack with * (or they will be treated as a single argument)
a_tuple = (1, 2, 3)
sum_numbers(*a_tuple)

a_list = [5, 10, 15]
sum_numbers(*a_list)

Sum of (1, 2, 3) = 6
Sum of (5, 10, 15) = 30

In [122]:
# Passing dictionaries (or DF's)
def display_info(**kwargs):
    print("Name:", kwargs['name'])
    print("Age:", kwargs['age'])  
    print("City:", kwargs['city'])

# Calling the function without the 'age' argument
display_info(name="John", age=30, city="Seattle")
print("")
display_info(name="Lisa", age=28, city="LA", state="California") # unspecified key:value pairs will get skipped

# Missing key:value pairs that are specified in function will throw an error
# display_info(name="Mike", city="New York")

Name: John
Age: 30
City: Seattle

Name: Lisa
Age: 28
City: LA

In [123]:
# Functions and for loops
def create_profile(**info):
    for key, value in info.items():
        print(f"{key}: {value}")

# Call the function with different sets of keyword arguments (no errors)
create_profile(name="John", age=30, profession="Engineer")
print()
create_profile(name="Alice", age=25, location="New York", hobby="Photography", pet="Dog")
print()
create_profile(name="Mike", city="New York")

name: John
age: 30
profession: Engineer

name: Alice
age: 25
location: New York
hobby: Photography
pet: Dog

name: Mike
city: New York

In [124]:
# Passing a Dataframe into function (requires unpacking with **)
data = {
    'name': ['John', 'Alice', 'Bob'],
    'age': [25, 30, 22],
    'city': ['Seattle', 'New York', 'Los Angeles'],
    'profession': ['Engineer', 'Designer', 'Writer']
}

df = pd.DataFrame(data)

# Function to create a personal profile using **kwargs
def create_profile(**info):
    for key, value in info.items():
        print(f"{key}: {value}")
    print()  # blank line

# Loop through the DataFrame rows and pass each row to the function (unpacking it into dictionaries per person)
for index, row in df.iterrows():
    create_profile(**row)

name: John
age: 25
city: Seattle
profession: Engineer

name: Alice
age: 30
city: New York
profession: Designer

name: Bob
age: 22
city: Los Angeles
profession: Writer

# List Comprehension
- a concise and efficient way to create lists. (better than for loops)

Basic syntax

```python
[expression for item in iterable if condition]
```

- Expression: This is the value or operation that forms the elements of the new list.
- Item: Represents each element in the iterable (like in a loop).
- Iterable: This is the sequence or collection you're iterating over (like a list, range, etc.).
- If condition: (Optional) This is a filtering condition that allows you to include only certain elements.

In [125]:
# Traditional For Loop
numbers = [1, 2, 3, 4, 5]
squares = []

for num in numbers:
    squares.append(num ** 2)
print(squares)

[1, 4, 9, 16, 25]

In [126]:
# Using list comprehension
numbers = [1, 2, 3, 4, 5]

squares = [num ** 2 for num in numbers]

print(squares)

[1, 4, 9, 16, 25]

# Converting Data Types

## Converting Primitives

In [127]:
# define integer
num_int=7
type(num_int)

# define string
num_str="7"
type(num_str)

int

str

In [128]:
# TypeError: unsupported operand type(s) for +: 'int' and 'str'

# num_int + num_str

In [129]:
# Converting from string to integer 
convert_num=int(num_str)
type(convert_num)

convert_num + num_int

int

14

In [130]:
# Converting from integer to string
convert_str=str(num_int)
type(convert_str)

convert_str + num_str

str

'77'

## Converting Non-Primitives

In [131]:
# define list
a_list=[1,2,3]
type(a_list)

# define tuple
a_tuple=(1,2,3)
type(a_tuple)

list

tuple

In [132]:
# Converting list -> tuple
convert_tuple=tuple(a_list)
type(convert_tuple)

tuple

In [133]:
# Converting tuple -> list
convert_list=list(a_tuple)
type(convert_list)

list

In [134]:
# Convert list -> set
another_list=[1,2,2,2,3,3]
convert_set=set(another_list)
type(convert_set)

# But sets only retain unique values
convert_set

set

{1, 2, 3}

In [135]:
# Converting dictionary
dict_type={"name":"Mikias", "username":"MikiasHWT", "Age":"31"}
type(dict_type)

dict_type.keys()
dict_type.values()
dict_type.items()

dict

dict_keys(['name', 'username', 'Age'])

dict_values(['Mikias', 'MikiasHWT', '31'])

dict_items([('name', 'Mikias'), ('username', 'MikiasHWT'), ('Age', '31')])

In [136]:
# Converting portions of dictionary to lists
print("___________________keys -> lists______________________")
convert_keys=list(dict_type.keys())
type(convert_keys)
convert_keys
convert_keys[0]
convert_keys[1]
convert_keys[2]

print("__________________values -> lists_____________________")

convert_vals=list(dict_type.values())
type(convert_vals)
convert_vals
convert_vals[0]
convert_vals[1]
convert_vals[2]

print("__________________items -> lists______________________")

convert_items=list(dict_type.items())
type(convert_items)
convert_items
convert_items[0]
convert_items[1]
convert_items[2]

___________________keys -> lists______________________

list

['name', 'username', 'Age']

'name'

'username'

'Age'

__________________values -> lists_____________________

list

['Mikias', 'MikiasHWT', '31']

'Mikias'

'MikiasHWT'

'31'

__________________items -> lists______________________

list

[('name', 'Mikias'), ('username', 'MikiasHWT'), ('Age', '31')]

('name', 'Mikias')

('username', 'MikiasHWT')

('Age', '31')

In [137]:
# Long strong -> lists (essentially parsing a sentence)
sentence="My name is Mikias and I am currently 31 years old"
sentence_list=list(sentence)
type(sentence_list)
sentence_list[:17]

list

['M',
 'y',
 ' ',
 'n',
 'a',
 'm',
 'e',
 ' ',
 'i',
 's',
 ' ',
 'M',
 'i',
 'k',
 'i',
 'a',
 's']

# Pandas

In [12]:
# Create a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'Score': [85, 90, 95, 100]}

df = pd.DataFrame(data, index=['A', 'B', 'C', 'D'])

print("DataFrame:")
print(df)

DataFrame:
      Name  Age  Score
A    Alice   25     85
B      Bob   30     90
C  Charlie   35     95
D    David   40    100

## Index Based Selection

iloc : Selecting data based on its numerical position in the data.

In [5]:
# Access 2nd elements of all columns
df.iloc[1]

Name     Bob
Age       30
Score     90
Name: B, dtype: object

In [6]:
# Access specific value using row at index 1 and column at index 
df.iloc[1, 2]

np.int64(90)

In [9]:
# to retrive a column
df.iloc[:, 0]

A      Alice
B        Bob
C    Charlie
D      David
Name: Name, dtype: object

## Label-based selection

loc : selects from the data index value, not its position.

In [11]:
df.loc[:, 'Age']

A    25
B    30
C    35
D    40
Name: Age, dtype: int64

## Manipulating DF's

In [18]:
# Setting index
df_new = df.set_index("Name")

print("New DataFrame:")
print(df_new)

New DataFrame:
         Age  Score
Name
Alice     25     85
Bob       30     90
Charlie   35     95
David     40    100

In [21]:
# Conditional selection
df.Age == 30

A    False
B     True
C    False
D    False
Name: Age, dtype: bool

In [22]:
# Conditional subsetting
df.loc[df.Age == 30]

  Name  Age  Score
B  Bob   30     90

In [23]:
# Conditional subsetting with logical operators 
# and = &
# or = |
# is in = isin()
df.loc[(df.Age >= 35) & (df.Score >= 100)]

    Name  Age  Score
D  David   40    100

In [25]:
# Assigning data
df["Tried Hard"] = "Yes"

df

      Name  Age  Score Tried Hard
A    Alice   25     85        Yes
B      Bob   30     90        Yes
C  Charlie   35     95        Yes
D    David   40    100        Yes

## Summaries and maps

In [28]:
df

      Name  Age  Score Tried Hard
A    Alice   25     85        Yes
B      Bob   30     90        Yes
C  Charlie   35     95        Yes
D    David   40    100        Yes

### Summaries

In [27]:
# Common stats for numerical variables
df.describe()

             Age       Score
count   4.000000    4.000000
mean   32.500000   92.500000
std     6.454972    6.454972
min    25.000000   85.000000
25%    28.750000   88.750000
50%    32.500000   92.500000
75%    36.250000   96.250000
max    40.000000  100.000000

In [30]:
# Descibe for categoricals
df["Tried Hard"].describe()

count       4
unique      1
top       Yes
freq        4
Name: Tried Hard, dtype: object

In [31]:
# mean
df.Score.mean()

np.float64(92.5)

In [32]:
# Unique values
df.Score.unique()

array([ 85,  90,  95, 100])

In [33]:
# Count number of instances of a given value
df.Score.value_counts()

Score
85     1
90     1
95     1
100    1
Name: count, dtype: int64

### Maps

a function that takes one set of values and "maps" them to another set of values.

In [40]:
# Mean centering using map()
# Store mean value
Score_mean_value = df.Score.mean()

# Apply lambda function to shift the mean
# takes each individual n value in score columns and subtracts the mean
df["Centered_scores"] = df.Score.map(lambda n: n - Score_mean_value)

df

      Name  Age  Score Tried Hard  Centered_scores
A    Alice   25     85        Yes             -7.5
B      Bob   30     90        Yes             -2.5
C  Charlie   35     95        Yes              2.5
D    David   40    100        Yes              7.5

# End

In [138]:
# Replace spaces in notebook title with underscores
filename = Notebook_title.replace(" ", "_") + "_requirements.txt"

# Run the pip freeze command and save the output txt file
!pip freeze > $filename

In [139]:
import session_info
session_info.show()