In [1]:
from IPython.display import display, HTML
from datetime import datetime

# Define the notebook title
Notebook_title = "Object Oriented Programming"

# Get the current date
current_date = datetime.now().strftime("%B %d, %Y")

# Create the HTML string with title, date, and author
html_content = f"""
<h1 style="text-align:center;">{Notebook_title}</h1>
<br/>
<h3 style="text-align:left;">MikiasHWT</h3>
<h3 style="text-align:left;">{current_date}</h3>
"""

# Display the HTML content in the output
display(HTML(html_content))

# Prep Workplace

## Imports

In [7]:
import numpy as np
import pandas as pd
import os 

# To show multiple lines in output
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# OOP Basics

In [1]:
from datetime import datetime

class Employee:
    Company = "Ferraxis"
    employees = []  # List to store all employees

    def __init__(self, name, age, job, income, start_date):
        self.name = name
        self.age = age
        self.job = job
        self.income = income
        self.start_date = datetime.strptime(start_date, "%B %d, %Y")
        Employee.employees.append(self)  # Add employee to list

    def description(self):
        return f"{self.name} joined the company on {self.start_date.strftime('%B %d, %Y')} as a {self.job}."

    def calculate_tenure(self):
        today = datetime.today()
        tenure = today.year - self.start_date.year - ((today.month, today.day) < (self.start_date.month, self.start_date.day))
        return tenure

    def promotion(self, new_job, salary_increase):
        self.job = new_job
        self.income += salary_increase

    @classmethod
    def average_income(cls):
        return sum(emp.income for emp in cls.employees) / len(cls.employees)

In [13]:
# Create Employees
Employee1 = Employee('Mike', 27, 'Engineer', 85000, 'June 16, 2011')
Employee2 = Employee('Lisa', 32, 'Researcher', 65000, 'March 05, 2019')
Employee3 = Employee('Ellen', 42, 'HR', 75000, 'January 27, 2021')
Employee4 = Employee('John', 29, 'Analyst', 60000, 'April 10, 2020')
Employee5 = Employee('Karen', 45, 'Marketing Specialist', 82000, 'August 25, 2015')
Employee6 = Employee('Tom', 36, 'Product Manager', 95000, 'October 03, 2017')
Employee7 = Employee('Sally', 33, 'UX Designer', 78000, 'January 15, 2018')
Employee8 = Employee('Alex', 39, 'Data Scientist', 105000, 'September 12, 2014')
Employee9 = Employee('Emma', 31, 'Financial Analyst', 67000, 'June 01, 2021')
Employee10 = Employee('James', 26, 'Junior Engineer', 62000, 'July 22, 2022')
Employee11 = Employee('Linda', 48, 'Operations Manager', 98000, 'March 30, 2012')
Employee12 = Employee('Daniel', 38, 'Compliance Officer', 86000, 'November 11, 2019')
Employee13 = Employee('Laura', 34, 'Project Coordinator', 73000, 'May 09, 2016')

In [14]:
# Generate Ddescription
print(Employee1.description())

Mike joined the company on June 16, 2011 as a Engineer.

In [15]:
# Determine tenure
tenure_employee1 = Employee1.calculate_tenure()
print(f"Tenure of {Employee1.name}: {tenure_employee1} years")

Tenure of Mike: 13 years

In [16]:
# Promote an employee
Employee2.promotion('Lead Researcher', 10000)
print(f"{Employee2.name}'s new job title: {Employee2.job}")
print(f"{Employee2.name}'s new income: {Employee2.income}")

Lisa's new job title: Lead Researcher
Lisa's new income: 75000

In [17]:
# Calculate company average
avg_income = Employee.average_income()
print(f"Average income at {Employee.Company}: {round(avg_income, 2)}")

Average income at AcuSteel: 79750.0

In [18]:
# List all employees
for emp in Employee.employees:
    print(emp.description())

Mike joined the company on June 16, 2011 as a Engineer.
Lisa joined the company on March 05, 2019 as a Lead Researcher.
Ellen joined the company on January 27, 2021 as a HR.
Mike joined the company on June 16, 2011 as a Engineer.
Lisa joined the company on March 05, 2019 as a Lead Researcher.
Ellen joined the company on January 27, 2021 as a HR.
John joined the company on April 10, 2020 as a Analyst.
Karen joined the company on August 25, 2015 as a Marketing Specialist.
Tom joined the company on October 03, 2017 as a Product Manager.
Sally joined the company on January 15, 2018 as a UX Designer.
Alex joined the company on September 12, 2014 as a Data Scientist.
Emma joined the company on June 01, 2021 as a Financial Analyst.
James joined the company on July 22, 2022 as a Junior Engineer.
Linda joined the company on March 30, 2012 as a Operations Manager.
Daniel joined the company on November 11, 2019 as a Compliance Officer.
Laura joined the company on May 09, 2016 as a Project Coordinator.

In [19]:
# Update Company name
Employee.Company = "AcuSteel"
print(f"New company name for {Employee1.name}: {Employee1.Company}")
print(f"New company name for {Employee2.name}: {Employee2.Company}")

New company name for Mike: AcuSteel
New company name for Lisa: AcuSteel

In [20]:
# Filter employyes by criteria
# Find all employees with more than 10 years of tenure
long_tenure_employees = [emp for emp in Employee.employees if emp.calculate_tenure() > 10]
for emp in long_tenure_employees:
    print(emp.description())

Mike joined the company on June 16, 2011 as a Engineer.
Mike joined the company on June 16, 2011 as a Engineer.
Linda joined the company on March 30, 2012 as a Operations Manager.

In [21]:
# Get summary report
for emp in Employee.employees:
    print(f"{emp.name}: {emp.job}, Income: ${emp.income}, Tenure: {emp.calculate_tenure()} years")

Mike: Engineer, Income: $85000, Tenure: 13 years
Lisa: Lead Researcher, Income: $75000, Tenure: 5 years
Ellen: HR, Income: $75000, Tenure: 3 years
Mike: Engineer, Income: $85000, Tenure: 13 years
Lisa: Lead Researcher, Income: $75000, Tenure: 5 years
Ellen: HR, Income: $75000, Tenure: 3 years
John: Analyst, Income: $60000, Tenure: 4 years
Karen: Marketing Specialist, Income: $82000, Tenure: 9 years
Tom: Product Manager, Income: $95000, Tenure: 7 years
Sally: UX Designer, Income: $78000, Tenure: 6 years
Alex: Data Scientist, Income: $105000, Tenure: 10 years
Emma: Financial Analyst, Income: $67000, Tenure: 3 years
James: Junior Engineer, Income: $62000, Tenure: 2 years
Linda: Operations Manager, Income: $98000, Tenure: 12 years
Daniel: Compliance Officer, Income: $86000, Tenure: 4 years
Laura: Project Coordinator, Income: $73000, Tenure: 8 years

# End

## Show Session Information

In [8]:
import session_info
session_info.show()

## Save Session Requirements

In [9]:
# Replace spaces in notebook title with underscores
filename = Notebook_title.replace(" ", "_") + "_requirements.txt"

# Run the pip freeze command and save the output txt file
!pip freeze > $filename